*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/************************************
*******HEADER:NAV DE NAVEGACION******
************************************/
header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(32, 32, 32, 0.237);
}

.container{
    width: 100%;
    max-width: 1100px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style: none;
    display: flex;
    padding: 1em 0;
}

li{
    margin: 0 10px;
    padding: 10px 15px;
}

li:active{
    border: 1px solid rgb(85, 197, 197);
    border-radius: 1.5em;
    box-shadow: 1.5px 1.5px 2px 3px  rgb(220, 242, 242);
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;  
}

a:hover{
    color:rgb(85, 197, 197) ;
}

.li-contacto{
    background-color:rgb(85, 197, 197);
    border-radius: 1.5em;
}

.li-contacto:hover{
    background-color:rgb(136, 219, 219) ;
}

.li-contacto:active{
    background-color:rgb(85, 197, 197) ;
    box-shadow: 1.5px 1.5px 2px 3px  rgb(222, 244, 244);
}

.contacto{
    color: white;
}

.contacto:hover{
    color: white;
}

@media(max-width: 900px){
    header{
        display: none;
    }
}



/*************************************
*********SECTION Nº1 SOBRE MI*********
*************************************/
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding: 50px 0;
    min-height: calc(100vh - 90px);
}

.contenedor-section1{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobremi{
    margin: 0;
    padding: 10px;
    text-align: left;
    display: block;
}

#hola{
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
}

h1{
    font-size: 50px;
    margin: 5px 0;
}

#tex{
    color: rgb(94, 94, 94);
    margin: 10px 0;
}

.cuadro-hago{
    background-color:rgb(85, 197, 197) ;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    border-radius: 2em;
    width: 8em;
}

.cuadro-hago:hover{
    background-color: rgb(70, 170, 180);
}

.cuadro-hago:active{
    box-shadow: 1px 2px 2px 1.5px  rgb(160, 220, 225);
}

#hago{
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media(max-width: 900px){
    .section1{
        padding: 30px 0;
    }
    .contenedor-section1{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .sobremi{
        text-align: center;
    }
    img{
        max-width: 500px;
    }
    h1{
        font-size: 40px;
    }
    
}


/***********************************
**** SECTION 2 DE CONOCIMIENTOS ****
************************************/
.section2{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(232, 237, 239);
}

.contenedor-section2{
    width: 100%;
    max-width: 1100px;
    padding: 100px 50px ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 40px;
}

.texto-conocimiento{
    margin: 1.5em;
    max-width: 350px;
}


.inconos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.incono{
    margin: 10px;
    width: 200px;
    padding: 30px;
    border: 1px solid rgb(206, 203, 203);
    background-color: white;
    border-radius: 1em;
}

i{
    font-size: 5em;
}

h3{
    margin: 10px;
}

/***************************************
*********** SECCION DE CITA ************
***************************************/
.section3{
    width: 100%;
    background-color:rgb(85, 197, 197) ;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}

.contenedor-section3{
    width: 100%;
    max-width: 1100px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fa-solid{
    font-size: 6em;
}

blockquote{
    padding: 3%  20%;
    font-size: 22px;
}


/*****************************************
******** SECTION DE MIS PROYECTOS ********
*****************************************/
.section4{
    width: 100%;
    padding: 100px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contenedor-section4{
    width: 100%;
    max-width: 1100px;
}

.contenedor-de-proyectos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.mis-proyectos{
    max-width: 300px;
    text-align: center;
    margin: 10px;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 10px;
    padding: 20px 10px;
}

.imagenes-proyectos{
    width: 250px;
}

/*******************************************
*********** SECTION DE CONTACTO ************
*******************************************/
.section5{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 237, 239);
    padding: 100px 0 ; 
}

.contenedor-section5{
    width: 100%;
    max-width: 1100px;
    background-color: white;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 10px;
}

.contenedor-contacto{
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
}

.contacto-seccion1{
    background-color: blue;
    width: 400px;
}

.contacto-seccion2{
    background-color:brown ;

}

.referencias-sociales{
    display: block;
}












