*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/************************************
*******HEADER:NAV DE NAVEGACION******
************************************/
header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(32, 32, 32, 0.237);
}

.container{
    width: 100%;
    max-width: 1100px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style: none;
    display: flex;
    padding: 1em 0;
}

li{
    margin: 0 10px;
    padding: 10px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;  
}

.contacto{
    background-color:rgb(85, 197, 197);
    border-radius: 1.5em;
}

#contacto{
    color: white;
}


/*************************************
*********SECTION Nº1 SOBRE MI*********
*************************************/
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    min-height: calc(100vh - 90px);
}

.contenedor-section1{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sobremi{
    margin: 0;
    padding: 10px;
    text-align: left;
    display: block;
}

#hola{
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
}

h1{
    font-size: 50px;
    margin: 5px 0;
}

#tex{
    color: rgb(94, 94, 94);
    margin: 10px 0;
}

.hago{
    background-color:rgb(85, 197, 197) ;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    border-radius: 2em;
    width: 8em;
}

#hago{
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
}



/***********************************
*****SECTION 2 DE CONOCIMIENTOS*****
************************************/
.section2{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(232, 237, 239);
}

.contenedor-section2{
    width: 100%;
    max-width: 1100px;
    padding: 100px 50px ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    margin: 1.5em;
    max-width: 300px;
}


.inconos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.incono{
    margin: 10px;
    width: 200px;
    padding: 30px;
    border: 1px solid rgb(206, 203, 203);
    background-color: white;
    border-radius: 1em;
}

i{
    font-size: 5em;
}

h3{
    margin: 10px;
}








